site_name:  decompose-redis
site_url: https://dengking.github.io/decompose-redis
site_description: Project documentation with Markdown.
site_author: DengKing


repo_url: https://github.com/dengking/decompose-redis
edit_uri: ""



theme:
    name: readthedocs
    highlightjs: true
    hljs_languages:
        - yaml
        - django
        
nav:
- Home: index.md

    
extra_css:
    - css/extra.css

markdown_extensions:
    - toc:
        permalink: ÔÉÅ
    - admonition
    - def_list
    - mdx_gh_links:
        user: mkdocs
        repo: mkdocs
        
plugins:
    - search